


<div class="text-header">Edytujesz komentarz</div>
<div class="cm2"><div class="cm_inner">
<%= render :partial => 'form' %>
<p class="links clear">
  <%= link_to 'Show Fortune', @comment.fortune %>
</p>
 </div>
 </div>
 